<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Albums
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let album of albums">
      <ion-card>
        <img height="180px" [src]="album.thumbnailUrl" />
        <ion-card-header>
          <ion-card-subtitle>ALBUM</ion-card-subtitle>
          <ion-card-title><a [routerLink]="[album.path]" [routerDirection]="'forward'">{{album.title}}</a></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus nibh vel arcu accumsan egestas. In in ex augue.
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
