<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/albums"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Album Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="album">
    <img height="180px" [src]="album.thumbnailUrl" />
    <ion-card-header>
      <ion-card-title>{{album.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus
      nibh vel arcu accumsan egestas. In in ex augue.
    </ion-card-content>
  </ion-card>
</ion-content>
